body{
	font-family: verdana;
	margin: 0;
	padding: 0;
}

.container{
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}

.header{
	width: 1000px;
	height: 75px;
	border-bottom: 3px solid black;
}
.header h1, span{
	display: inline-block;
	vertical-align: top;
}
.header span{
	margin: 50px 0 0 550px;
}
.header a{
	color: pink;
	text-decoration: none;
	margin-left: 30px;
}
.post_message{
	width: 1000px;
}
.post_message h1{
	font-size: 14px;
	margin: 20px 0 0 0;
}
.post_message textarea{
	width: 800px;
	height: 200px;
	margin: 0;
}

.message_log{
	width: 1000px;
	display: block;
}

.error{
	color: red;
}

.success{
	color: green;
}

